/* line 2, scss/themes.scss */
.flat-red {
  background-color: #F9F9F9; }
  /* line 39, scss/themes.scss */
  .flat-red .navbar {
    background-color: #3E4651;
    border-bottom: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    /* line 47, scss/themes.scss */
    .flat-red .navbar .navbar-header .navbar-brand {
      color: #F9F9F9; }
    /* line 51, scss/themes.scss */
    .flat-red .navbar .navbar-header .navbar-expand-toggle {
      color: #FFF; }
    /* line 57, scss/themes.scss */
    .flat-red .navbar .navbar-nav > li > a {
      color: #FFF; }
    /* line 62, scss/themes.scss */
    .flat-red .navbar .navbar-nav > li:hover > a {
      color: #FA2A00; }
    /* line 68, scss/themes.scss */
    .flat-red .navbar .navbar-nav > li.open > a {
      background-color: transparent;
      color: #FA2A00; }
    /* line 75, scss/themes.scss */
    .flat-red .navbar .navbar-nav > li.danger > a {
      background-color: #FA2A00;
      color: #FFF; }
    /* line 80, scss/themes.scss */
    .flat-red .navbar .navbar-nav .dropdown-menu {
      background-color: #F9F9F9;
      border-color: #3E4651; }
      /* line 83, scss/themes.scss */
      .flat-red .navbar .navbar-nav .dropdown-menu .title {
        background-color: #FFF; }
        /* line 85, scss/themes.scss */
        .flat-red .navbar .navbar-nav .dropdown-menu .title .badge {
          background-color: #3E4651; }
    /* line 90, scss/themes.scss */
    .flat-red .navbar .navbar-nav .dropdown-menu.danger {
      border-color: #FA2A00; }
      /* line 92, scss/themes.scss */
      .flat-red .navbar .navbar-nav .dropdown-menu.danger .title {
        background-color: #FA2A00;
        color: #FFF; }
        /* line 96, scss/themes.scss */
        .flat-red .navbar .navbar-nav .dropdown-menu.danger .title .badge {
          background-color: #FFF;
          color: #FA2A00; }
    /* line 103, scss/themes.scss */
    .flat-red .navbar .navbar-nav .dropdown.profile .dropdown-menu {
      border-color: #22A7F0; }
      /* line 105, scss/themes.scss */
      .flat-red .navbar .navbar-nav .dropdown.profile .dropdown-menu li.profile-img {
        background-color: #22A7F0; }
    /* line 111, scss/themes.scss */
    .flat-red .navbar .navbar-nav .dropdown.profile.open > a {
      background-color: #22A7F0;
      color: #FFF; }
  /* line 120, scss/themes.scss */
  .flat-red .side-menu {
    background-color: #EAEAEA; }
    /* line 123, scss/themes.scss */
    .flat-red .side-menu .navbar-header {
      background-color: #363c46; }
      /* line 125, scss/themes.scss */
      .flat-red .side-menu .navbar-header .navbar-brand {
        color: #FF003C; }
    /* line 130, scss/themes.scss */
    .flat-red .side-menu .navbar-nav {
      width: 100%; }
    /* line 134, scss/themes.scss */
    .flat-red .side-menu .navbar {
      background-color: #EAEAEA;
      border-bottom: 0px;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
      /* line 143, scss/themes.scss */
      .flat-red .side-menu .navbar li > a {
        color: #363c46; }
      /* line 149, scss/themes.scss */
      .flat-red .side-menu .navbar li.active > a {
        background-color: #FA2A00;
        color: #FFF; }
      /* line 155, scss/themes.scss */
      .flat-red .side-menu .navbar li:hover > a {
        background-color: #FA2A00;
        color: #FFF; }
      /* line 161, scss/themes.scss */
      .flat-red .side-menu .navbar li.dropdown {
        background-color: #EAEAEA; }
        /* line 164, scss/themes.scss */
        .flat-red .side-menu .navbar li.dropdown > .panel-collapse {
          background-color: rgba(0, 0, 0, 0.1); }
        /* line 168, scss/themes.scss */
        .flat-red .side-menu .navbar li.dropdown .panel-body {
          padding: 0; }
  /* line 181, scss/themes.scss */
  .flat-red .card.red {
    background-color: #FA2A00;
    color: #FFF; }
  /* line 186, scss/themes.scss */
  .flat-red .card.yellow {
    background-color: #ffb400;
    color: #FFF; }
  /* line 191, scss/themes.scss */
  .flat-red .card.green {
    background-color: #1ABC9C;
    color: #FFF; }
  /* line 196, scss/themes.scss */
  .flat-red .card.blue {
    background-color: #22A7F0;
    color: #FFF; }
  /* line 201, scss/themes.scss */
  .flat-red .card.dark {
    background-color: #3E4651;
    color: #FFF; }
  /* line 206, scss/themes.scss */
  .flat-red .card.red, .flat-red .card.yellow, .flat-red .card.green, .flat-red .card.blue, .flat-red .card.dark {
    border: 0; }
    /* line 208, scss/themes.scss */
    .flat-red .card.red .card-header, .flat-red .card.yellow .card-header, .flat-red .card.green .card-header, .flat-red .card.blue .card-header, .flat-red .card.dark .card-header {
      border-bottom: 0; }
      /* line 210, scss/themes.scss */
      .flat-red .card.red .card-header .title, .flat-red .card.yellow .card-header .title, .flat-red .card.green .card-header .title, .flat-red .card.blue .card-header .title, .flat-red .card.dark .card-header .title {
        color: #FFF; }
  /* line 216, scss/themes.scss */
  .flat-red .card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #EAEAEA; }
    /* line 219, scss/themes.scss */
    .flat-red .card .card-header {
      border-bottom: 1px solid #EAEAEA; }
      /* line 221, scss/themes.scss */
      .flat-red .card .card-header .title {
        color: #3E4651; }
    /* line 227, scss/themes.scss */
    .flat-red .card .card-body .sub-title {
      border-bottom: 1px solid #F9F9F9; }
    /* line 232, scss/themes.scss */
    .flat-red .card .card-header.no-border {
      border-bottom: 0; }
  /* line 241, scss/themes.scss */
  .flat-red .card.profile .card-footer {
    border-top: 1px solid #F9F9F9; }
  /* line 247, scss/themes.scss */
  .flat-red .panel.panel-default {
    border: 1px solid #EAEAEA; }
    /* line 249, scss/themes.scss */
    .flat-red .panel.panel-default .panel-heading {
      border-bottom: 1px solid #EAEAEA;
      background-color: #F0F0F0; }
  /* line 255, scss/themes.scss */
  .flat-red .panel.panel-primary {
    border: 1px solid #3E4651; }
    /* line 257, scss/themes.scss */
    .flat-red .panel.panel-primary .panel-heading {
      border-bottom: 1px solid #3E4651;
      background-color: #3E4651;
      color: #FFF; }
  /* line 264, scss/themes.scss */
  .flat-red .panel.panel-success {
    border: 1px solid #1ABC9C; }
    /* line 266, scss/themes.scss */
    .flat-red .panel.panel-success .panel-heading {
      border-bottom: 1px solid #1ABC9C;
      background-color: #1ABC9C;
      color: #FFF; }
  /* line 273, scss/themes.scss */
  .flat-red .panel.panel-info {
    border: 1px solid #22A7F0; }
    /* line 275, scss/themes.scss */
    .flat-red .panel.panel-info .panel-heading {
      border-bottom: 1px solid #22A7F0;
      background-color: #22A7F0;
      color: #FFF; }
  /* line 282, scss/themes.scss */
  .flat-red .panel.panel-warning {
    border: 1px solid #FABE28; }
    /* line 284, scss/themes.scss */
    .flat-red .panel.panel-warning .panel-heading {
      border-bottom: 1px solid #FABE28;
      background-color: #FABE28;
      color: #FFF; }
  /* line 291, scss/themes.scss */
  .flat-red .panel.panel-danger {
    border: 1px solid #FA2A00; }
    /* line 293, scss/themes.scss */
    .flat-red .panel.panel-danger .panel-heading {
      border-bottom: 1px solid #FA2A00;
      background-color: #FA2A00;
      color: #FFF; }
  /* line 301, scss/themes.scss */
  .flat-red .btn.btn-default {
    background-color: #F0F0F0; }
  /* line 304, scss/themes.scss */
  .flat-red .btn.btn-default:hover {
    background-color: #EAEAEA; }
  /* line 308, scss/themes.scss */
  .flat-red .btn.btn-primary {
    background-color: #3E4651;
    color: #FFF;
    border-color: #3E4651; }
  /* line 314, scss/themes.scss */
  .flat-red .btn.btn-success {
    background-color: #1ABC9C;
    color: #FFF;
    border-color: #1ABC9C; }
  /* line 320, scss/themes.scss */
  .flat-red .btn.btn-warning {
    background-color: #FABE28;
    color: #FFF;
    border-color: #FABE28; }
  /* line 326, scss/themes.scss */
  .flat-red .btn.btn-info {
    background-color: #22A7F0;
    color: #FFF;
    border-color: #22A7F0; }
  /* line 331, scss/themes.scss */
  .flat-red .btn.btn-danger {
    background-color: #FA2A00;
    color: #FFF;
    border-color: #FA2A00; }
  /* line 339, scss/themes.scss */
  .flat-red .progress .progress-bar {
    background-color: #3E4651;
    color: #FFF; }
  /* line 343, scss/themes.scss */
  .flat-red .progress .progress-bar.progress-bar-success {
    background-color: #1ABC9C; }
  /* line 346, scss/themes.scss */
  .flat-red .progress .progress-bar.progress-bar-info {
    background-color: #22A7F0; }
  /* line 349, scss/themes.scss */
  .flat-red .progress .progress-bar.progress-bar-warning {
    background-color: #FABE28; }
  /* line 352, scss/themes.scss */
  .flat-red .progress .progress-bar.progress-bar-danger {
    background-color: #FA2A00; }
  /* line 360, scss/themes.scss */
  .flat-red .pagination > li > a {
    color: #3E4651; }
  /* line 365, scss/themes.scss */
  .flat-red .pagination .active > a, .flat-red .pagination .active > a:focus, .flat-red .pagination .active > a:hover, .flat-red .pagination .active span, .flat-red .pagination .active > span:focus, .flat-red .pagination .active > span:hover {
    background-color: #3E4651;
    border-color: #3E4651;
    color: #FFF; }
  /* line 375, scss/themes.scss */
  .flat-red .modal.modal-primary .modal-header {
    background-color: #3E4651;
    color: #FFF; }
  /* line 382, scss/themes.scss */
  .flat-red .modal.modal-success .modal-header {
    background-color: #1ABC9C;
    color: #FFF; }
  /* line 389, scss/themes.scss */
  .flat-red .modal.modal-info .modal-header {
    background-color: #22A7F0;
    color: #FFF; }
  /* line 396, scss/themes.scss */
  .flat-red .modal.modal-warning .modal-header {
    background-color: #FABE28;
    color: #FFF; }
  /* line 403, scss/themes.scss */
  .flat-red .modal.modal-danger .modal-header {
    background-color: #FA2A00;
    color: #FFF; }
  /* line 410, scss/themes.scss */
  .flat-red .alert {
    color: #FFF; }
    /* line 412, scss/themes.scss */
    .flat-red .alert .alert-link {
      color: #FFF;
      text-decoration: underline; }
    /* line 416, scss/themes.scss */
    .flat-red .alert .btn-link {
      color: #FFF; }
  /* line 421, scss/themes.scss */
  .flat-red .alert.alert-success {
    background-color: #1ABC9C; }
  /* line 424, scss/themes.scss */
  .flat-red .alert.alert-info {
    background-color: #22A7F0; }
  /* line 427, scss/themes.scss */
  .flat-red .alert.alert-warning {
    background-color: #FABE28; }
  /* line 430, scss/themes.scss */
  .flat-red .alert.alert-danger {
    background-color: #FA2A00; }
  /* line 437, scss/themes.scss */
  .flat-red .list-group .list-group-item.active {
    background-color: #3E4651;
    color: #FFF;
    border-color: #3E4651; }
    /* line 442, scss/themes.scss */
    .flat-red .list-group .list-group-item.active .badge {
      color: #3E4651; }
  /* line 447, scss/themes.scss */
  .flat-red .list-group .list-group-item.list-group-item-success {
    background-color: #1ABC9C;
    color: #FFF;
    border-color: #1ABC9C; }
    /* line 452, scss/themes.scss */
    .flat-red .list-group .list-group-item.list-group-item-success .badge {
      background-color: #FFF;
      color: #1ABC9C; }
  /* line 458, scss/themes.scss */
  .flat-red .list-group .list-group-item.list-group-item-info {
    background-color: #22A7F0;
    color: #FFF;
    border-color: #22A7F0; }
    /* line 463, scss/themes.scss */
    .flat-red .list-group .list-group-item.list-group-item-info .badge {
      background-color: #FFF;
      color: #22A7F0; }
  /* line 469, scss/themes.scss */
  .flat-red .list-group .list-group-item.list-group-item-warning {
    background-color: #FABE28;
    color: #FFF;
    border-color: #FABE28; }
    /* line 474, scss/themes.scss */
    .flat-red .list-group .list-group-item.list-group-item-warning .badge {
      background-color: #FFF;
      color: #FABE28; }
  /* line 480, scss/themes.scss */
  .flat-red .list-group .list-group-item.list-group-item-danger {
    background-color: #FA2A00;
    color: #FFF;
    border-color: #FA2A00; }
    /* line 485, scss/themes.scss */
    .flat-red .list-group .list-group-item.list-group-item-danger .badge {
      background-color: #FFF;
      color: #FA2A00; }
