// Blue Themes
.flat-green {

  $color-white: #FFF;
  $color-light-grey: #F9F9F9;
  $color-grey: #DDD;

  $color-dark-blue: #3E4651;
  $color-dark-blue-hover: #363c46;

  $color-dark-black: #232323;

  $color-light-red: #FF003C;
  $color-red: #FA2A00;

  $color-light-green: #88F159;

  $color-yellow: #FABE28;
  $color-dark-yellow: #ffb400;

  $color-bgreen: #88C100;

  $color-green-sea: #1ABC9C;
  $color-dark-green-sea: #16A085;

  $color-light-gblue: #00B9BD;
  $color-gblue: #007E80;
  $color-dark-gblue: #004853;

  $theme-menu-bg-color: #D4D4D4;
  $theme-success-color: #00B16A;
  $color-blue: #22A7F0;
  $theme-danger-color: $color-red;

  background-color: $color-light-grey;
  
  // Navbar
  .navbar {
    background-color: $color-dark-blue;
    border-bottom: 0px;

    .navbar-header {

      .navbar-brand {
        color: $color-light-grey;
      }

      .navbar-expand-toggle {
        color: $color-white;
      }
    }
    .navbar-nav {
      & > li {
        & > a {
          color: $color-white;
        }
      }
      & > li:hover {
        & > a {
          color: $color-red;
        }
      }
      & > li.open {
        
        & > a {
          background-color: transparent;
          color: $color-red;
        }
      }
      & > li.danger {
        
        & > a {
          background-color: $theme-danger-color;
          color: $color-white;
        }
      }
      .dropdown-menu {
        background-color: $color-light-grey;
        border-color: $color-dark-blue;
        .title {
          background-color: $color-white;
          .badge {
            background-color: $color-dark-blue;
          }
        }
      }
      .dropdown-menu.danger {
        border-color: $theme-danger-color;
        .title {
          background-color: $theme-danger-color;
          color: $color-white;

          .badge {
            background-color: $color-white;
            color: $theme-danger-color;
          }
        }
      }
      .dropdown.profile {
        .dropdown-menu {
          border-color: $color-blue;
          li.profile-img {
            background-color: $color-blue;
          }
        }
      }
      .dropdown.profile.open {
        & > a {
          background-color: $color-blue;
          color: $color-white;
        }
      }
    }
  }

  // Menu Bar
  .side-menu {
    background-color: $color-grey;

    .navbar-header {
      background-color: $color-dark-blue-hover;
      .navbar-brand {
        color: $color-light-red;
      }
    }

    .navbar-nav {
      width: 100%;
    }

    .navbar {
      background-color: $color-grey;
      border-bottom: 0px;

      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;

      li {
        border-bottom: 1px solid rgba(255,255,255,0.1);

        & > a {
          color: $color-dark-blue-hover;
        }
      }
      li:hover {
        & > a {
          background-color: $color-red;
          color: $color-white;
        }
      }

      li.dropdown {

        background-color: $color-grey;
        & > .panel-collapse {
          background-color: rgba(0,0,0,0.1);
        }

        .panel-body {
          padding: 0;
        }
      }

      li:hover {
        background-color: rgba(0,0,0,0.1);
      }

    }
  }

  // Card
  .card.red {
    background-color: $color-red;
    color: $color-white;
  }

  .card.yellow {
    background-color: $color-dark-yellow;
    color: $color-white;
  }

  .card.green {
    background-color: $color-green-sea;
    color: $color-white;
  }

  .card.blue {
    background-color: $color-blue;
    color: $color-white;
  }

  .card.dark {
    background-color: $color-dark-blue;
    color: $color-white;
    .card-header {
      .title {
       color: $color-white;
      }
    }
  }

  .card {
    .card-header {
      .title {
        color: $color-dark-blue;
      }
    }
  }

  .page-title {
  }
}