// Blue Themes
.flat-red {

  $color-white: #FFF;
  $color-light-grey: #F9F9F9;
  $color-lighter-grey: #F0F0F0;
  $color-grey: #EAEAEA;

  $color-clear-dark-blue: #73849d;
  $color-dark-blue: #3E4651;
  $color-dark-blue-hover: #363c46;

  $color-dark-black: #232323;

  $color-clear-red: #ffb8aa;
  $color-lightest-red: #fb927d;
  $color-light-red: #FF003C;
  $color-red: #FA2A00;
  $color-darkest-red: #7c1a06;

  $color-light-green: #88F159;

  $color-clear-yellow: #ffe5a2;
  $color-yellow: #FABE28;
  $color-dark-yellow: #ffb400;
  $color-darkest-yellow: #85630f;

  $color-bgreen: #88C100;

  $color-clear-green-sea: #99e9d9;
  $color-green-sea: #1ABC9C;
  $color-dark-green-sea: #16A085;
  $color-darkest-green-sea: #006551;

  $color-clear-blue: #91d5fb;
  $color-blue: #22A7F0;
  $color-darkest-blue: #09486b;

  $color-light-gblue: #00B9BD;
  $color-gblue: #007E80;
  $color-dark-gblue: #004853;

  $theme-menu-bg-color: #D4D4D4;
  $theme-success-color: #00B16A;
  $color-blue: #22A7F0;
  $theme-danger-color: $color-red;

  background-color: $color-light-grey;
  
  // Navbar
  .navbar {
    background-color: $color-dark-blue;
    border-bottom: 0px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    .navbar-header {

      .navbar-brand {
        color: $color-light-grey;
      }

      .navbar-expand-toggle {
        color: $color-white;
      }
    }
    .navbar-nav {
      & > li {
        & > a {
          color: $color-white;
        }
      }
      & > li:hover {
        & > a {
          color: $color-red;
        }
      }
      & > li.open {
        
        & > a {
          background-color: transparent;
          color: $color-red;
        }
      }
      & > li.danger {
        
        & > a {
          background-color: $theme-danger-color;
          color: $color-white;
        }
      }
      .dropdown-menu {
        background-color: $color-light-grey;
        border-color: $color-dark-blue;
        .title {
          background-color: $color-white;
          .badge {
            background-color: $color-dark-blue;
          }
        }
      }
      .dropdown-menu.danger {
        border-color: $theme-danger-color;
        .title {
          background-color: $theme-danger-color;
          color: $color-white;

          .badge {
            background-color: $color-white;
            color: $theme-danger-color;
          }
        }
      }
      .dropdown.profile {
        .dropdown-menu {
          border-color: $color-blue;
          li.profile-img {
            background-color: $color-blue;
          }
        }
      }
      .dropdown.profile.open {
        & > a {
          background-color: $color-blue;
          color: $color-white;
        }
      }
    }
  }

  // Menu Bar
  .side-menu {
    background-color: $color-grey;

    .navbar-header {
      background-color: $color-dark-blue-hover;
      .navbar-brand {
        color: $color-light-red;
      }
    }

    .navbar-nav {
      width: 100%;
    }

    .navbar {
      background-color: $color-grey;
      border-bottom: 0px;

      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;

      li {
        & > a {
          color: $color-dark-blue-hover;
        }
      }
      li.active {

        & > a {
          background-color: $color-red;
          color: $color-white;
        }
      }
      li:hover {
        & > a {
          background-color: $color-red;
          color: $color-white;
        }
      }

      li.dropdown {

        background-color: $color-grey;
        & > .panel-collapse {
          background-color: rgba(0,0,0,0.1);
        }

        .panel-body {
          padding: 0;
        }
      }

      li:hover {
        // background-color: rgba(0,0,0,0.1);
      }

    }
  }

  // Card
  .card.red {
    background-color: $color-red;
    color: $color-white;
  }

  .card.yellow {
    background-color: $color-dark-yellow;
    color: $color-white;
  }

  .card.green {
    background-color: $color-green-sea;
    color: $color-white;
  }

  .card.blue {
    background-color: $color-blue;
    color: $color-white;
  }

  .card.dark {
    background-color: $color-dark-blue;
    color: $color-white;
  }

  .card.red , .card.yellow , .card.green , .card.blue , .card.dark {
    border: 0;
    .card-header {
      border-bottom: 0;
      .title {
       color: $color-white;
      }
    }
  }

  .card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid $color-grey;
    .card-header {
      border-bottom: 1px solid $color-grey;
      .title {
        color: $color-dark-blue;
      }
    }

    .card-body {
      .sub-title {
        border-bottom: 1px solid $color-light-grey;
      }
    }

    .card-header.no-border {
      border-bottom: 0;
    }
  }

  .card.profile {
    .card-body {
    }

    .card-footer {
      border-top: 1px solid $color-light-grey;
    }
  }

   // Panel
  .panel.panel-default {
    border: 1px solid $color-grey;
    .panel-heading {
      border-bottom: 1px solid $color-grey;
      background-color: $color-lighter-grey;
    }
  }

  .panel.panel-primary {
    border: 1px solid $color-dark-blue;
    .panel-heading {
      border-bottom: 1px solid $color-dark-blue;
      background-color: $color-clear-dark-blue;
      color: $color-white;
    }
  }

  .panel.panel-success {
    border: 1px solid $color-green-sea;
    .panel-heading {
      border-bottom: 1px solid $color-green-sea;
      background-color: $color-clear-green-sea;
      color: $color-darkest-green-sea;
    }
  }

  .panel.panel-info {
    border: 1px solid $color-blue;
    .panel-heading {
      border-bottom: 1px solid $color-blue;
      background-color: $color-clear-blue;
      color: $color-darkest-blue;
    }
  }

  .panel.panel-warning {
    border: 1px solid $color-yellow;
    .panel-heading {
      border-bottom: 1px solid $color-yellow;
      background-color: $color-clear-yellow;
      color: $color-darkest-yellow;
    }
  }

  .panel.panel-danger {
    border: 1px solid $color-lightest-red;
    .panel-heading {
      border-bottom: 1px solid $color-lightest-red;
      background-color: $color-clear-red;
      color: $color-darkest-red
    }
  }


  // Panel with Fresh color
  .panel.fresh-color.panel-primary {
    border: 1px solid $color-dark-blue;
    .panel-heading {
      border-bottom: 1px solid $color-dark-blue;
      background-color: $color-dark-blue;
      color: $color-white;
    }
  }

  .panel.fresh-color.panel-success {
    border: 1px solid $color-green-sea;
    .panel-heading {
      border-bottom: 1px solid $color-green-sea;
      background-color: $color-green-sea;
      color: $color-white;
    }
  }

  .panel.fresh-color.panel-info {
    border: 1px solid $color-blue;
    .panel-heading {
      border-bottom: 1px solid $color-blue;
      background-color: $color-blue;
      color: $color-white;
    }
  }

  .panel.fresh-color.panel-warning {
    border: 1px solid $color-yellow;
    .panel-heading {
      border-bottom: 1px solid $color-yellow;
      background-color: $color-yellow;
      color: $color-white;
    }
  }

  .panel.fresh-color.panel-danger {
    border: 1px solid $color-red;
    .panel-heading {
      border-bottom: 1px solid $color-red;
      background-color: $color-red;
      color: $color-white;
    }
  }

  // Button
  .btn.btn-default {
    background-color: $color-lighter-grey;
    border-color: $color-grey;
  }
  .btn.btn-default:hover {
    background-color: $color-grey;
  }

  .btn.btn-primary {
    background-color: $color-dark-blue;
    color: $color-white;
    border-color: $color-dark-blue;
  }

  .btn.btn-success {
    background-color: $color-green-sea;
    color: $color-white;
    border-color: $color-green-sea;
  }

  .btn.btn-warning {
    background-color: $color-yellow;
    color: $color-white;
    border-color: $color-yellow;
  }

  .btn.btn-info {
    background-color: $color-blue;
    color: $color-white;
    border-color: $color-blue;
  }
  .btn.btn-danger {
    background-color: $color-red;
    color: $color-white;
    border-color: $color-red;
  }

  // Progress Bar
  .progress {
    .progress-bar {
      background-color: $color-dark-blue;
      color: $color-white;
    }
    .progress-bar.progress-bar-success {
      background-color: $color-green-sea;
    }
    .progress-bar.progress-bar-info {
      background-color: $color-blue;
    }
    .progress-bar.progress-bar-warning {
      background-color: $color-yellow;
    }
    .progress-bar.progress-bar-danger {
      background-color: $color-red;
    }
  }

  // Pagination
  .pagination {
    & > li {
      & > a {
        color: $color-dark-blue;
      }
    }
    .active {
      & > a , & > a:focus, & > a:hover , span , & > span:focus, & > span:hover {
        background-color: $color-dark-blue;
        border-color: $color-dark-blue;
        color: $color-white;
      }
    }
  }

  // Modal
  .modal.modal-primary {
    .modal-header {
      background-color: $color-dark-blue;
      color: $color-white;
    }
  }

  .modal.modal-success {
    .modal-header {
      background-color: $color-green-sea;
      color: $color-white;
    }
  }

  .modal.modal-info {
    .modal-header {
      background-color: $color-blue;
      color: $color-white;
    }
  }

  .modal.modal-warning {
    .modal-header {
      background-color: $color-yellow;
      color: $color-white;
    }
  }

  .modal.modal-danger {
    .modal-header {
      background-color: $color-red;
      color: $color-white;
    }
  }

  // Alert

  .alert.alert-success {
    background-color: $color-clear-green-sea;
    color: $color-darkest-green-sea;
    border-color: $color-green-sea;

    .alert-link {
      color: $color-darkest-green-sea;
      text-decoration: underline;
    }

    .btn-link {
      color: $color-darkest-green-sea;
    }
  }
  .alert.alert-info {
    background-color: $color-clear-blue;
    color: $color-darkest-blue;
    border-color: $color-blue;

    .alert-link {
      color: $color-darkest-blue;
      text-decoration: underline;
    }

    .btn-link {
      color: $color-darkest-blue;
    }
  }
  .alert.alert-warning {
    background-color: $color-clear-yellow;
    border-color: $color-yellow;
    color: $color-darkest-yellow;

    .alert-link {
      color: $color-darkest-yellow;
      text-decoration: underline;
    }

    .btn-link {
      color: $color-darkest-yellow;
    }
  }
  .alert.alert-danger {
    background-color: $color-clear-red;
    border-color: $color-lightest-red;
    color: $color-darkest-red;

    .alert-link {
      color: $color-darkest-red;
      text-decoration: underline;
    }

    .btn-link {
      color: $color-darkest-red;
    }
  }

  .alert.fresh-color {
    color: $color-white;
    .alert-link {
      color: $color-white;
      text-decoration: underline;
    }
    .btn-link {
      color: $color-white;
    }
  }

  .alert.fresh-color.alert-success {
    background-color: $color-green-sea;
  }
  .alert.fresh-color.alert-info {
    background-color: $color-blue;
  }
  .alert.fresh-color.alert-warning {
    background-color: $color-yellow;
  }
  .alert.fresh-color.alert-danger {
    background-color: $color-red;
    border-color: $color-red;
  }


  // List Group
  .list-group {
    .list-group-item.active {
      background-color: $color-dark-blue;
      color: $color-white;
      border-color: $color-dark-blue;

      .badge {
        color: $color-dark-blue;
      }
    }

    .list-group-item.list-group-item-success {
      background-color: $color-green-sea;
      color: $color-white;
      border-color: $color-green-sea;

      .badge {
        background-color: $color-white;
        color: $color-green-sea;
      }
    }

    .list-group-item.list-group-item-info {
      background-color: $color-blue;
      color: $color-white;
      border-color: $color-blue;

      .badge {
        background-color: $color-white;
        color: $color-blue;
      }
    }

    .list-group-item.list-group-item-warning {
      background-color: $color-yellow;
      color: $color-white;
      border-color: $color-yellow;

      .badge {
        background-color: $color-white;
        color: $color-yellow;
      }
    }

    .list-group-item.list-group-item-danger {
      background-color: $color-red;
      color: $color-white;
      border-color: $color-red;

      .badge {
        background-color: $color-white;
        color: $color-red;
      }
    }
  }


  // Bootstrap Switch
  .bootstrap-switch {
    border-color: $color-grey;
    .bootstrap-switch-primary {
      background-color: $color-dark-blue;
    }
  }

  // Table
  .table {
    .active {
      td, th {
        background-color: $color-grey;
      }
    }
    .success {
      color: $color-darkest-green-sea;

      td, th {
        background-color: $color-clear-green-sea;
      }
    }
    .info {
      color: $color-darkest-blue;

      td, th {
        background-color: $color-clear-blue;
      }
    }
    .warning {
      color: $color-darkest-yellow;

      td, th {
        background-color: $color-clear-yellow;
      }
    }
    .danger {
      color: $color-darkest-red;

      td, th {
        background-color: $color-clear-red;
      }
    }

    & > tbody , & > tfoot {
      & > tr {
        & > td , & > th {
          border-color: $color-grey;
        }
      }
    }
    & > thead {
      & > tr {
        & > th {
          border-color: $color-grey;
        }
      }
    }
  }

  // Login page
  .login-box {
    .login-sidebar {
      color: $color-white;
      background-color: $color-dark-blue;

      .btn-default {
        color: $color-white;
        background-color: transparent;
      }
    }

    input {
      background-color: $color-grey;
    }
  }
}