table.table {
   & > thead {
     & > tr {
       & > th {
         border-bottom: 1px solid #EEE;
       }
     }
   }
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 12px 16px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #F9F9F9;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: 1px solid #EEE;
}
